## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [18]:
!pip uninstall sqlalchemy==2.0.5 -y && pip install sqlalchemy==1.3.24
!pip uninstall ipython-sql -y
!pip install ipython-sql==0.4.1

Found existing installation: SQLAlchemy 2.0.5.post1
Uninstalling SQLAlchemy-2.0.5.post1:
  Successfully uninstalled SQLAlchemy-2.0.5.post1
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 1.0 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.2
    Uninstalling SQLAlchemy-2.0.2:
      Successfully uninstalled SQLAlchemy-2.0.2

WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Accès refusé: 'C:\\Users\\ISLAM\\anaconda3\\Lib\\site-packages\\sqlalchemy\\~yextension\\collections.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)

Found existing installation: ipython-sql 0.4.1
Uninstalling ipython-sql-0.4.1:
  Successfully uninstalled ipython-sql-0.4.1

WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)

Collecting ipython-sql==0.4.1
  Using cached ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlparse in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: six in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (8.5.0)
Requirement already satisfied: prettytable<1 in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\islam\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.3.24)
Requirement already satisfied: pygments>=2.4.0 in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.13.0)
Requirement already satisfied: pickleshare in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.31)
Requirement already satisfied: traitlets>=5 in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.5.0)
Requirement already satisfied: backcall in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: decorator in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.1.1)
Requirement already satisfied: stack-data in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.5.1)
Requirement already satisfied: colorama in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\islam\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\islam\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\islam\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql==0.4.1) (0.2.5)
Requirement already satisfied: executing in c:\users\islam\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\islam\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (0.2.2)
Requirement already satisfied: asttokens in c:\users\islam\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (2.0.8)
Installing collected packages: ipython-sql
Successfully installed ipython-sql-0.4.1

WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\islam\anaconda3\lib\site-packages)

In [3]:
import sqlite3

with open('Spacex .sql', 'r') as sql_file:
    sql_script = sql_file.read()

db = sqlite3.connect('tutorial.db')
cursor = db.cursor()
cursor.executescript(sql_script)
db.commit()
db.close()

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")
cur = con.cursor()




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
%load_ext sql

In [ ]:
!pip install ipython-sql

In [3]:
%sql sqlite:///tutorial.db

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [4]:
%sql select Distinct Launch_site from spacex;

 * sqlite:///tutorial.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%sql Select * from spacex where Launch_site like 'CCA%' limit  5

 * sqlite:///tutorial.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%sql select sum(payload_mass_kg_) from spacex where customer = 'NASA (CRS)'

 * sqlite:///tutorial.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [6]:
%sql select avg(payload_mass_kg_) as Avg_PayLoadMass from spacex where Booster_Version = 'F9 v1.1'

 * sqlite:///tutorial.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [9]:
%sql select min(Date) as first_successful_landing from spacex where Landing_Outcome Like 'Success (ground pad)'

 * sqlite:///tutorial.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%sql select Booster_Version as first_successful_landing from spacex where Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS_KG_ >4000 and PAYLOAD_MASS_KG_ < 6000

 * sqlite:///tutorial.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

 * sqlite:///tutorial.db

In [27]:
%%sql 
SELECT count(Mission_Outcome) As SuccessfulMission_Counts
    from spacex
where Mission_Outcome Like 'Success%';
SELECT count(Mission_Outcome) As FailureMission_Counts
    from spacex
where Mission_Outcome Like 'Failure%';

 * sqlite:///tutorial.db
Done.
Done.

[(1,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>